@use './global' as g;
@use './disp';

$red: #9E1424;

%mark-headline {
    font-size: 24px;
    margin-bottom: 24px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    line-height: 1.6;
    white-space: nowrap;
    &::before,
    &::after {
        content: "";
        width: 58px;
        height: 58px;
        background-image: url( //dev.rish.style/0910/mark_headline.png );
        background-size: cover;
        display: block;
        position: static;
        @include g.breakpoint( spmin ) {
            width: 58px;
            height: 58px;
            position: absolute;
        }
        @include g.breakpoint( tablet ) {
            width: 40px;
            height: 40px;
        }
        @include g.breakpoint( pc ) {
            width: 58px;
            height: 58px;
        }
    }
    &::before {
        margin-right: 8px;
        @include g.breakpoint( spmin ) {
            left: 0;
        }
        @include g.breakpoint( tablet ) {
            margin-right: 0;
        }
    }
    &::after {
        transform: rotate( 180deg );
        margin-top: 8px;
        margin-left: 8px;
        @include g.breakpoint( spmin ) {
            right: 0;
        }
        @include g.breakpoint( tablet ) {
            margin-left: 0;
        }
    }
    @include g.breakpoint( tablet ) {
        
    }
    @include g.breakpoint( pc ) {
        font-size: 32px;
        margin-bottom: 48px;
    }
}

%form-label {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4px;
    font-weight: bold;
    margin-bottom: 16px;
    border-bottom: 1px solid white;
    float: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.form-top {
    padding: 0;
    overflow: hidden;
    background: #fff;
    border-radius: 4px 4px 0 0;
    text-align: left;
    .form-top-left {
        float: left;
        min-height: 100px;
        width: 100%;
        padding-top: 25px;
        z-index: 1;
        position: absolute !important;
        top: 0;
        left: 0;
        h3 {
            display: none;
        }
    }
    .form-top-right {
        position: absolute;
        right: 40px;
        padding-top: 5px;
        font-size: 66px;
        color: #ddd;
        line-height: 100px;
        text-align: right;
        display: none;
    }
}

.form-bottom {
    padding: 0 0 72px;
    background-image: url( //dev.rish.style/0910/bg_prism.png );
    background-repeat: repeat;
}

//コンテンツブロック
.form-editor {
    > div {
        &:nth-child( 1 ) {
            img {
                width: 100%;
            }
        }
        &:nth-child( 2 ) {
            padding: 72px 32px;
            background-image: url( //dev.rish.style/0910/bg_triangle.png );
            background-repeat: repeat;
            border: 20px solid black;
            border-left: 0;
            border-right: 0;
            position: relative;
            z-index: 0;
            ul {
                list-style-image: url( //dev.rish.style/0910/list_pentagon.png );
                inline-size: fit-content;
                margin-inline: auto;
                margin-bottom: 48px;
                @include g.breakpoint( tablet ) {
                }
                @include g.breakpoint( pc ) {
                    margin-bottom: 32px;
                }
                li {
                    padding-left: 8px;
                    font-size: 18px;
                    font-weight: bold;
                    color: black;
                    margin-bottom: 24px;
                    letter-spacing: 4px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            p {
                font-size: 20px;
                font-weight: bold;
                color: black;
                text-align: center;
                letter-spacing: 4px;
                @include g.breakpoint( tablet ) {
                }
                @include g.breakpoint( pc ) {
                    font-size: 18px;
                }
            }
            h1 {
                margin: 48px auto;
                font-size: 24px;
                font-weight: bold;
                color: black;
                text-align: center;
                letter-spacing: 8px;
                line-height: 1.8;
                @include g.breakpoint( tablet ) {
                    margin: 64px auto;
                }
                @include g.breakpoint( pc ) {
                    margin: 72px auto;
                    font-size: 32px;
                    letter-spacing: 16px;
                    line-height: 2.1;
                }
            }
            &::after {
                content: "";
                background-image: url( //dev.rish.style/0910/bg_curve.svg );
                background-repeat: no-repeat;
                background-size: auto 110%;
                background-position: center center;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                @include g.breakpoint( pc ) {
                    background-position: 100%;
                }
            }
        }
        &:nth-child( 3 ) {
            padding: 48px 32px;
            background-color: #2C2C2C;
            color: white;
            @include g.breakpoint( pc ) {
                padding-inline: 80px;
            }
            h2 {
                @extend %mark-headline;
            }
            ul {
                list-style-type: square;
                margin-left: -28px;
                @include g.breakpoint( tablet ) {
                    margin-left: 0;
                }
                li {
                    margin-bottom: 24px;
                    max-width: 380px;
                    &::marker {
                        font-size: 30px;
                    }
                    &::after {
                        content: "";
                        width: 100%;
                        height: 1px;
                        margin-top: 24px;
                        margin-left: -24px;
                        border-bottom: 1px dotted white;
                        display: block;
                    }
                }
            }
        }
        &:nth-child( 4 ) {
            padding: 72px 32px;
            background-image: url( //dev.rish.style/0910/bg_triangle.png );
            color: black;
            @include g.breakpoint( pc ) {
                padding-inline: 80px;
            }
            p {
                margin-bottom: 24px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .section-form {
        padding: 48px 32px 0;
        h2 {
            @extend %mark-headline;
        }
        div {
            & > .form-group {
                & > .form-text {
                    & > label {
                        @extend %form-label;
                    }
                    & > div {
                        width: 100%;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
            &:nth-child( 1 ) {
                .form-group {

                }
            }
            &:nth-child( 2 ) {
                .form-group {
                    
                }
            }
        }
        & > .form-group {
            & > .form-text {
                & > label {
                    @extend %form-label;
                }
                & > div {
                    width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                    > span {
                        > div {
                            margin-bottom: 32px;
                        }
                        &+span {
                            font-size: 18px;
                            color: #B9B9B9;
                        }
                    }
                }
                .radio input[type=radio],
                input[type=radio] {
                    margin-right: 8px;
                }
                .radio input[type=radio]:before,
                input[type=radio]:before {
                    background-color: #D9D9D9;
                    border-radius: 100%;
                }
                .radio input[type=radio]:after,
                input[type=radio]:after {
                    border: 2px solid #ACACAC;
                    background: black;
                    border-radius: 100%;
                    top: -1px;
                }
                .radio input[type=radio]:checked:before,
                input[type=radio]:checked:before {
                }
                .radio input[type=radio]:checked:after,
                input[type=radio]:checked:after {
                    background-color: #D9D9D9;
                }
            }
            & > div {

            }
        }
    }
}

label {
    color: white;
    font-weight: bold;
}

label.control-label span.label-danger {
    margin-left: 8px;
    padding: 4px 6px;
    background-color: $red;
}

.help-block {
    line-height: 1.5;
}

.btn {
	cursor: pointer;
	display: grid;
	place-items: center;
	&.btn-primary {
		width: 88%;
        height: 73px;
        margin-inline: auto;
        border: 2px solid white;
        border-radius: 80px;
		background-color: $red;
        font-weight: bold;
        box-shadow: 0px 10px 10px -6px rgba( 255, 255, 255, 0.3 );
        position: relative;
        top: 0;
        transition: all ease-in .2s;
        cursor: pointer;
        @include g.breakpoint( tablet ) {
            width: 100%;
        }
        &:hover {
            position: relative;
            background-color: #D14353;
            cursor: pointer;
            box-shadow: none;
            top: 3px;
        }
	}
}
